.return-home-button {
  padding: 8px 8px;
  border-radius: 5px;
  background-color: #39cdcc;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.return-home-button:hover {
  transform: scale(1.05);
}

.error {
  margin: 0%;
  padding: 0%;
  width: 60%;
  height: 60vh;
  background: #39cdcc;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error > h1 {
  font-family: "Avenir Next";
  margin: 0px;
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 90px;
  line-height: 55px;
  color: #ffffff;
}

.error > p {
  margin: 30px 0px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
